<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body class="bg-violet-50">
        <%- include("../partials/header.ejs") %>
        <main>
            <div>
                <div>
            <h1 class="text-5xl m-20 flex align-center font-light font-mono">
                <%= product.title %> 
            </h1>
            <h1 class="font-bold text-4xl m-20 flex align-center font-light font-mono">
                 $<%= product.price %> 
            </h1>
            <div class="grid grid-cols-3 gap-4">
                <img class="col-span-2 m-20 rounded-lg" src="<%=product.image%>">
                <!-- <h3 class="col-span-1"> <%=product.description%></h3> -->
            </div>
            <div class="justify-items-start grid grid-cols-3 gap-1">
                <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                <input class="m-10 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded-full border-transparent" type="submit" value="Delete" />
                </form>
                
                <a href="/products/<%=product._id%>/edit">
                <button class="absolute left-80 m-10 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded-full border-transparent">Edit Product</button>
                
                <a href="/products"><button class="absolute left-0 top-0 m-4 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded-full border-transparent">Back to Main</button></a>
            
            </div>
        </div>
        </div>
        </main>
    </body>
</html>