<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <h1 class="text-5xl m-20 flex align-center font-light font-mono">
                <%= product.title %>
            </h1>
            <div class="contain">
                <img src="<%=product.image%>">
            </div>
            <div class="justify-items-start grid grid-cols-3 gap-1">
                <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                <input class="border-none m-10 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded-full border-transparent" type="submit" value="Delete" />
                </form>

                <a href="/products/<%=product._id%>/edit">
                <button class="m-10 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded-full border-transparent">Edit</button>
                
                <a href="/products"><button class="m-10 bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded-full border-transparent">Back to Main</button></a>
            </div>
        </main>
    </body>
</html>